<!doctype html>
<html>
<head>
    <title>{% block title %}{{ page_title|default:"Dienstplan" }}{% endblock title %}</title>
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <style>
        main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

body {
  padding-top: 5rem;
}
main > .container {
  padding: 3rem 1.5rem;
  text-align: center;
}





    </style>
</head>
{% load dienstplan_ordner %}

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Dienstplan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault,#navbarsExampleDefault2"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Dienstplan</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% getdienstplan as dienstplanarray %}
                    {% for dienstplan in dienstplanarray %}
                    <a class="dropdown-item" href="{% url 'dienste:bydienstplanid' dienstplanid=dienstplan.id %} ">{{ dienstplan.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">

        <main role="main" class="flex-shrink-0">
            <div class="container">
                {% block content %}
                <p>Placeholder text in base template. Replace with page content.</p>
                {% endblock content %}

            </div>
        </main>
    </div>
</div>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; 2019 by P. Schwab</span>
    </div>
</footer>
</body>
</html>