{% extends 'dienstplan/base.html' %}
{% block title %}Dienstplan {{ dienste_list.first.ordner.dienstplan.name }} {{ dienste_list.first.ordner.name }}{% endblock title %}
{% block content %}

<div class="dropdown float-left">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Monat
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for monat in ordner %}
        <a class="dropdown-item"
           href="{% url 'dienste:byordnerid' dienstplanid=monat.dienstplan.id ordnerid=monat.ordnerid%} ">{{ monat.name }}</a>
        {% endfor %}
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th scope="col">KW</th>
            <th scope="col">Tag</th>
            <th scope="col">Start</th>
            <th scope="col">Ende</th>
            <th scope="col">Wagenart</th>
            {% for dienstart in dienste_list.first.besatzung.all %}
            <th scope="col">{{ dienstart.art.name }}</th>
            {% endfor %}
        </tr>
        {% for dienst in dienste_list %}

        <tr class="{% if dienst.tag|divisibleby:2 %}table-secondary{% endif %}">
            <td scope="row">{{dienst.calenderweek}}</td>
            <td scope="row">{{ dienst.tag }}</td>
            <td>{{ dienst.schicht.start }}</td>
            <td>{{ dienst.schicht.bis }}</td>
            <td>{{ dienst.schicht.wagenart.name }}</td>
            {% for besatzung in dienst.besatzung.all %}
            <td>
                {% if besatzung.personal.name %}
                {% if besatzung.berufer %}
                HA:
                {% endif %}
                {{ besatzung.personal.name }}
                {% else %}
                {% if besatzung.berufer %}
                Berufer
                {% endif %}
                {% endif %}
                {% if besatzung.bemerkung and besatzung.personal.name %}<br>{% endif %}
                {% if besatzung.bemerkung %}
                <i>{{ besatzung.bemerkung}}</i>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}